* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footer {
  width: 100%;
  background: #111;
  color: #eee;
  padding: 50px 40px 20px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.brand h2 {
  font-size: 28px;
  font-weight: 700;
}

.brand span {
  color: #0077ff;
}

.brand p {
  max-width: 260px;
  margin-top: 10px;
  color: #ccc;
  line-height: 1.5;
}

.links h3,
.contact h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

.links a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.2s;
}

.links a:hover {
  color: #0077ff;
}

.contact p {
  margin-bottom: 8px;
  color: #ccc;
}

.bottom {
  margin-top: 30px;
  text-align: center;
  padding-top: 12px;
  border-top: 1px solid #333;
  color: #bbb;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 700px) {
  .footer-main {
    flex-direction: column;
    gap: 30px;
  }
}
