.app-header__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  color: #111;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    background: #007bff;
    transition: 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .app-header__nav {
    position: absolute;
    top: 70px;
    right: -100%;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.95);
    width: 200px;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: right 0.4s ease;
  }

  .app-header__nav.active {
    right: 20px;
  }


}
